.botao {
    border: 1px solid var(--preto);
    color: var(--cinza);
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

.botao[tipo="primario"] {
    background-color: var(--verde);
}

.botao[tipo="secundario"] {
    background-color: var(--azul);
}