* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cinza: #EBEBEC;
    --preto: #272727;
    --azul: #0000ff;
    --verde: #36B59F;
}

body {
    background-color: var(--cinza);
}

body, input, textarea, button {
    font-size: 1rem;
    font-family: sans-serif;
}